<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>How long ago was this film released?</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> --}}
    
    </head>
    <body>
        <h1>{{title}}</h1>

        <div>
            <h2>At the box office</h2>
            <p>{{selected_region.release_dates.[0].how_long_ago_text}}</p>
            <p>Released {{selected_region.release_dates.[0].text}}</p>
            <img src="{{img_path.backdrop}}" alt="back drop image" />
            <img src="{{img_path.poster}}" alt="poster image" />
        </div>
        <div>
            <h2>Cast</h2>
            {{#each people}}
            <h4>{{name}}</h4>
            <p>Then: {{at_releases.[0].text}}</p>
            <p>Now: {{age.now.text}}</p>
            {{/each}}
        </div>
    </body>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/fetch.js"></script>
    
</html>
