<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>How long ago was this film released? - Which movie?</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> --}}
    
    </head>
    <body>
        <h1>Multiple results - which one?</h1>
        <div>
            <h2>Choices</h2>
              <form id="refine-search-form" action="/movie">
                <input type="submit" value="Submit">
                {{#each this}}
                  <div>
                  <input  type="radio" 
                          id="movie{{@index}}"
                          name="id" 
                          value="{{id}}"
                  />
                 
                  <label for="movie{{@index}}">
                     <img  src="{{full_poster_path}}" 
                        alt="poster image" 
                  />
                    {{title}}
                  </label>
                  </div>
                {{/each}}
              </form>
        </div>
    </body>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/refine-search.js"></script>
    
</html>
